sudo: false

language: node_js

node_js: node

os:
  - linux

before_install:
  - if [ $TRAVIS_OS_NAME == "linux" ]; then
      sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y;
      sudo apt-get update -q;
      sudo apt-get install libstdc++-4.9-dev -y;
      export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
      sleep 3;
    fi

script:
  - npm test --silent

after_script:
- |
  echo ">>> Publish"
  npm run vscode:publish

stages:
- name: after_script
  if: env(TRAVIS_TAG) =~ ^v
